div {text-align: center;}
span {white-space: nowrap;}
a {color: inherit;}
body {
font-family: 'Noto Sans Mono', monospace, 'Noto Sans TC', sans-serif;
width: 99%;
height: 99%;
margin: auto;
background: white;
color: black;
}
.content {text-align: center;}
.center{
background: white;
color: black;
display: flex;
justify-content: center;
align-items: center;
height: 80vh;
}

@media screen and (orientation: portrait) {
.first {font-size: 8vw;}
.second {font-size: 3vw;}
.third {font-size: 2vw;}
.fourth {font-size: 1vw;}
@keyframes hor-movement { from { margin-left: 2vw; } to { margin-left: 42vw; } }
@keyframes ver-movement { from { margin-top: 5vh; } to { margin-top: 85vh; } }
.bound {
animation-name: hor-movement, ver-movement;
animation-duration: 30s, 60s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
width: 55vw;
height: 12vh;
}
}

@media screen and (orientation: landscape) {
.first {font-size: 8vw;}
.second {font-size: 3vw;}
.third {font-size: 2vw;}
.fourth {font-size: 1vw;}
@keyframes hor-movement { from { margin-left: 2vw; } to { margin-left: 42vw; } }
@keyframes ver-movement { from { margin-top: 5vh; } to { margin-top: 45vh; } }
.bound {
animation-name: hor-movement, ver-movement;
animation-duration: 60s, 30s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
width: 55vw;
height: 40vh;
}
}
    
.bar {
background: white;
color: black;
overflow: hidden;
position: fixed;
bottom: 1vw;
left: 0;
width: 100%;
text-align: center;
}
